header {
    border-bottom: 1px solid black;
    color: white;
    background-color: black;
}
body {
    background-color: #0f0f0f;
    padding: 0;
    margin: 0;
}
.site-header {
    display: flex;
    justify-content: space-between; /* Espaça os itens para as extremidades do cabeçalho */
    padding: 20px;
}
.site-header h1 {
    margin: 0;
    padding-left: 70px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #01A0DA;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
    margin-right: 100px;
    color: white;
}

.menu li {
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.menu a {
    color: White;
    text-decoration: none;
}

.menu a:hover {
    color: #01A0DA;

}

nav {
    display: flex;
    align-items: center;
}

.text-introduction {
    display: flex;
    justify-content: space-between; /* Espaça os itens para as extremidades */
    align-items: center; /* Alinha verticalmente no centro */
    padding: 0px;
    background-color: black;
    margin: 0px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-content-introduction {
    margin-left: 350px;

}

.text-content-introduction h1 {
    font-size: 35px;
    margin: 0;
    padding: 0;
} 
.text-content-introduction h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.image-content img {
    height: 400px;
    margin-right: 350px;
    padding: 0;
}
.text-content-description {
    color: white;
    display: flex;
    justify-content: center;
}