html {
    scroll-behavior: smooth;
}

body {
    background-color: #1c1c1c;
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 1px solid #01A0DA;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    color: white;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.site-header h1 {
    margin: 0;
    padding-left: 70px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #01A0DA;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex; 
    margin-right: 100px;
}

.menu li {
    margin-left: 40px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #01A0DA;
}

.text-introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 80px;
}

#CV {
    background-color: transparent;
    border: 2px solid #01A0DA;
    color: #01A0DA;
    padding: 12px 24px;
    font-size: 13px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
}

.text-content-introduction {
    margin-left: 400px;
}
.text-content-introduction h1, h4 {
    margin: 0;

}

.image-content img {
    height: 300px;
    margin-right: 400px;
    margin-top: 20px;
}

.text-description {
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-top: 20px;
}

.text-description p {
    margin: 0 340px;
    color: #898989;
    line-height: 1.5;
    font-size: 1.1rem;
}

.text-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: white;
}

.skills-img {
    display: flex;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: black;
    height: 200px;
    margin-right: 20px;
}

.skill img {
    margin-top: 15px;
    height: 128px;
}

.skill h2 {
    margin-top: 10px;
    font-size: 18px;
}
